*~
_*
*.o
*.d
*.asm
*.sym
*.img
vectors.S
bootblock
entryother
initcode
initcode.out
kernel
kernelmemfs
mkfs
.gdbinit
TAGS
compile_commands.json
fmt/*
.cache/*
dist/*
dist-test/*
xv6.pdf
survival_guide.pdf
